{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.courses.index'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'ui.page_header.courses.index'|trans }}</h1>
{% endblock %}
