{% set page_id = 'index' %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.index'|trans }}
{% endblock %}

{% block body %}
    <h1 class="mb-3">{{ 'ui.page_header.index'|trans }}</h1>
    <p>{{ 'ui.index.info'|trans }}</p>
    <p>{{ 'ui.index.info_masters_degree'|trans }}</p>
{% endblock %}
